    
{% extends "posts/index.html" %}
{% load static %}


{% block fortitle %} {% endblock fortitle %}
{% block forstyle %}

{%endblock forstyle %}

{% block forcontent %}


    <!-- wrapper-one Wrapper  -->
    <div class="wrapper-one">


                <!-- POSTS Wrapper  -->
                <div class="posts-wrapper">

                <!-- POSTS Grid  -->
                <div class="posts-grid" id="refresh-main-posts">
                    
                    {% for post in posts %}
                        
                    <!-- POST Start -->
                    <div class="post" data-url="{{post.get_absolute_url}}">
                        <div class="post-ab-info">
                            {% if post.author.profile_picture %}
                            <img src="{{post.author.profile_picture.url }}" alt="" class="post-ab-info-img">
                            {%else%}
                            <img src="{% static 'posts/images/default_profile.png' %}" alt="" class="post-ab-info-img">
                            {%endif%}
                            <div class="author-name">{{post.author.username|default:"public user"}}</div>
                            <!-- <div class="status-text">Bending Text</div> -->
                        </div>
                        <div class="post-content">
                            <div class="post-title" data-url="{{post.get_absolute_url}}">{{post.title}}</div>
                            <div class="post-img-container">
                                <img src="{{post.image_url}}" alt="Image">
                            </div>
                        </div>
                        <div class="post-dlc-info">
                            <div class="post-dlc-icon"> <i class="fa-regular fa-thumbs-up"></i></div>
                            <div class="post-dlc-icon"><i class="fa-solid fa-comment"></i></i></div>
                            <div class="post-dlc-date">{{post.get_display_date|date:"d" }}{{post.get_display_date|date:"M Y" }}</div>
                            </div>
                    </div>
                    <!-- POST END -->
                    
                    {% empty %}
                    <p>Posts Not Available.</p>
                    {% endfor %}


            </div>
            <!-- POSTS Grid  END-->
            </div>
            <!-- POST Wrapper  END-->


        <!-- adds-Wrapper-big-->
        <div class="adds-wrapper-big">

        </div>    
        <!-- adds-Wrapper-big END-->


        
            <!-- pagination Wrapper  -->
            {% comment %} <div class="pagination-wrapper ">
                <div class="pagination-container">
                    <a href="?page=1">First</a>
                    <a href="?page=prev">Previous</a>
                    <span>Page 1 of 10</span>
                    <a href="?page=next">Next</a>
                    <a href="?page=last">Last</a>
                </div>
            </div> {% endcomment %}
            <!-- pagination Wrapper  END-->


    </div>
    <!-- wrapper-one Wrapper  -->
    

    
    <!-- wrapper-two Wrapper -->
    <div class="wrapper-two">

            <!-- smallpost-list -->
        <div class="smallposts-list">



            {% if popular_posts %}
            {% for popular in popular_posts %}
            <div class="smallpost" data-url="{{popular.get_absolute_url}}">
                <div class="smallpost-img-title">
                    <img src="{{popular.image_url}}" alt="Image" alt="image" class="smallpost-img">
                    <div class="smallpost-title">{{popular.title}}</div>
                </div>
                <div class="smallpost-meta">
                    <span class="smallpost-author">{{popular.author.username|default:"public user"}}</span>
                    <span class="smallpost-date">{{popular.get_display_date|date:"d" }}{{popular.get_display_date|date:"M Y" }}</span>
                </div>
            </div>
            {% endfor %}
            {% endif %}             


        </div>  
        <!-- smallpost-list END -->


        <!-- adds-wrapper-small -->
        <div class="adds-wrapper-small">
                    
        </div>
        <!-- adds-wrapper-small END-->


    </div>
        <!-- wrapper-two Wrapper END-->




{% endblock forcontent %} 


{% block forscript %}
<script text="text/javascript" src="{% static 'posts/js/home.js'%}"></script>
<script>


   
</script>
{% endblock forscript%}
