    
{% extends "posts/index.html" %}
{% load static %}
{% load tz %}


{% block fortitle %} {% endblock fortitle %}

{% block forstyle %}

{%endblock forstyle %}

<!-- Dashboard user info block content goes here -->
{% block fordashboardheader %}
{% comment %} <div class="dboard-user-info-wrapper">
    <div class="dboard-user-profile">
        <h2>John Doe</h2>
        {% if request.user.profile_picture %}
        <img src="{{request.user.profile_picture.url }}" alt="user profile picture">
        {%else%}
        <img src="{% static 'posts/images/default_profile.png' %}" alt="user profile picture">
        {%endif%}
    </div>

    <!-- Filter Dropdown -->
    <div class="dboard-filter-container">
        <label for="filter">Filter Posts:</label>
        <select id="filter" onchange="filterPosts()">
            <option value="all">All</option>
            <option value="published">Published</option>
            <option value="pending">Unpublished</option>
        </select>
    </div>
</div> {% endcomment %}
{% endblock fordashboardheader %} 
<!-- Dashboard user info block content goes here  end-->




{% block forcontent %}



    <!-- wrapper-one Wrapper  -->
    <div class="wrapper-one">



                <!-- POSTS Wrapper  -->
                <div class="posts-wrapper">


                    <!-- DASHBOARD Wrapper  -->
                    <div class="dboard-user-info-wrapper">
                        <div class="dboard-user-profile">
                            <h2>{% if request.user.is_authenticated %}{{ request.user.username }}{% endif %}</h2>
                            {% if request.user.profile_picture %}
                            <img src="{{request.user.profile_picture.url }}" alt="user profile picture">
                            {%else%}
                            <img src="{% static 'posts/images/default_profile.png' %}" alt="user profile picture">
                            {%endif%}
                        </div>
                    
                        <!-- Filter Dropdown -->
                        <div class="dboard-filter-container">
                            <label for="filter">Filter Posts:</label>
                            <select id="filter" onchange="filterPosts()">
                                <option value="all">All</option>
                                <option value="published">Published</option>
                                <option value="pending">Unpublished</option>
                            </select>
                        </div>
                    </div>
                    <!-- DASHBOARD Wrapper  END -->


                <!-- POSTS Grid  -->
                <div class="posts-grid" >


                <!-- Published Posts Start -->
                    {% if published_posts %}
                    {% for post in published_posts %}
                                  
                    <!-- POST Start -->
                    <div class="post no-overlay" data-url="" data-status="published">
                            <div class="post-ab-info">
                                {% if post.author.profile_picture %}
                                <img src="{{post.author.profile_picture.url }}" alt="" class="post-ab-info-img">
                                {%else%}
                                <img src="{% static 'posts/images/default_profile.png' %}" alt="" class="post-ab-info-img">
                                {%endif%}
                                <div class="author-name">{{post.author.username|default:"public user"}}</div>
                                <div class="status-text">published</div> 
                            </div>
                            <div class="post-content">
                                <div class="post-title" data-url="{{post.get_absolute_url}}">{{post.title}}</div>
                                <div class="post-img-container">
                                    <img src="{{post.thumbnail.url}}" alt="Image">
                                </div>
                            </div>

                            <div class="post-dlc-info">
                                <div class="post-dlc-icon-text goto-post" data-url="{{ post.get_absolute_url }}"> <i class="fa-solid fa-up-right-from-square"></i><span class"lc-count">read..</span></div>
                                <div class="post-dlc-icon-text edit-post" data-url="{% url 'blogpost:user-dashboard-post-detail' slug=post.slug %}"><i class="fa-solid fa-pen-clip"></i></i><span class"lc-count">edit..</span></div>
                                <div class="post-dlc-date">{{post.get_relative_or_normal_date}}</div>
                            </div>
                    </div>
                    <!-- POST END -->
                    
                    {% endfor %}
                    {% endif %}
                    <!-- Published Posts End -->



                <!-- Published Posts Start -->
                {% if bending_posts %}
                {% for post in bending_posts %}
                              
                <!-- POST Start -->
                <div class="post no-overlay" data-url="" data-status="pending">
                        <div class="post-ab-info">
                            {% if post.author.profile_picture %}
                            <img src="{{post.author.profile_picture.url }}" alt="" class="post-ab-info-img">
                            {%else%}
                            <img src="{% static 'posts/images/default_profile.png' %}" alt="" class="post-ab-info-img">
                            {%endif%}
                            <div class="author-name">{{post.author.username|default:"public user"}}</div>
                            <div class="status-text">Unpublished</div> 
                        </div>
                        <div class="post-content">
                            <div class="post-title" data-url="{{post.get_absolute_url}}">{{post.title}}</div>
                            <div class="post-img-container">
                                <img src="{{post.thumbnail.url}}" alt="Image">
                            </div>
                        </div>
                        <div class="post-dlc-info">
                            <div class="post-dlc-icon-text goto-post" data-url="{{ post.get_absolute_url }}"> <i class="fa-solid fa-up-right-from-square"></i><span class"lc-count">read..</span></div>
                            <div class="post-dlc-icon-text edit-post" data-url="{% url 'blogpost:user-dashboard-post-detail' slug=post.slug %}"><i class="fa-solid fa-pen-clip"></i></i><span class"lc-count">edit..</span></div>
                            <div class="post-dlc-date">{{post.get_relative_or_normal_date}}</div>
                        </div>
                </div>
                <!-- POST END -->
                
                {% endfor %}
                {% endif %}
                <!-- Published Posts End -->                    
                    


            </div>
            <!-- POSTS Grid  END-->
            </div>
            <!-- POST Wrapper  END-->


        <!-- adds-Wrapper-big-->
        <div class="adds-wrapper-big">

        </div>    
        <!-- adds-Wrapper-big END-->


        
            <!-- pagination Wrapper  -->
            {% comment %} <div class="pagination-wrapper ">
                <div class="pagination-container">
                    <a href="?page=1">First</a>
                    <a href="?page=prev">Previous</a>
                    <span>Page 1 of 10</span>
                    <a href="?page=next">Next</a>
                    <a href="?page=last">Last</a>
                </div>
            </div> {% endcomment %}
            <!-- pagination Wrapper  END-->


    </div>
    <!-- wrapper-one Wrapper  -->
    

    
    <!-- wrapper-two Wrapper -->
    <div class="wrapper-two">

            <!-- smallpost-list -->
        <div class="smallposts-list">



            <h2>Explore More . . .</h2>
            {% if explore_posts %}
            {% for post in explore_posts %}
            <div class="smallpost" data-url="{{post.get_absolute_url}}">
                <div class="smallpost-img-title">
                    <img src="{{post.image_url}}" alt="Image" alt="image" class="smallpost-img">
                    <div class="smallpost-title">{{post.title}}</div>
                </div>
                <div class="smallpost-meta">
                    <span class="smallpost-author">{{post.author.username|default:"public user"}}</span>
                    <span class="smallpost-date">{{post.get_display_date|date:"d" }}{{post.get_display_date|date:"M Y" }}</span>
                </div>
            </div>
            {% endfor %}
            {% endif %} 


        </div>  
        <!-- smallpost-list END -->


        <!-- adds-wrapper-small -->
        <div class="adds-wrapper-small">
                    
        </div>
        <!-- adds-wrapper-small END-->


    </div>
        <!-- wrapper-two Wrapper END-->




{% endblock forcontent %} 


{% block forscript %}
<script text="text/javascript" src="{% static 'posts/js/home.js'%}"></script>
<script>
    function filterPosts() {
        const filter = document.getElementById('filter').value;
        const posts = document.querySelectorAll('.post');
        posts.forEach(post => {
            if (filter === 'all') {
                post.style.display = 'flex';
            } else {
                if (post.getAttribute('data-status') === filter) {
                    post.style.display = 'flex';
                } else {
                    post.style.display = 'none';
                }
            }
        });
    }


    document.addEventListener('DOMContentLoaded', function() {
        // Get all the post-dlc-icon elements
        console.log("dashboard loaded");
        const gotoPosts = document.querySelectorAll('.goto-post');
        const editPosts = document.querySelectorAll('.edit-post');
        
        // Add click event listeners for each gotoPost
        gotoPosts.forEach(gotoPost => {
            const postUrl = gotoPost.getAttribute('data-url');
            gotoPost.addEventListener('click', function() {
                window.location.href = postUrl; 
            });
        });
    
        // Add click event listeners for each editPost
        editPosts.forEach(editPost => {
            const editUrl = editPost.getAttribute('data-url');
            editPost.addEventListener('click', function() {
                window.location.href = editUrl; 
            });
        });
    });
    

</script> 
   
</script>
{% endblock forscript%}



