{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset.css' %}" />
    <title>Reset Sent Email</title>
</head>
<body>
    <div class="content-container">
        <h3>Password Reset Link Sent</h3>
        <p>We've emailed you instructions for resetting your password<b>{% if request.session.reset_email %} to {{ request.session.reset_email }}{% endif %}</b>.
            You'll receive an email shortly. If you don't receive an email, 
            make sure you entered the correct email address and 
            check your spam folder.</p>

    </div>
</body>
</html>
