{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset.css' %}" />
    <title>Password Reset</title>
</head>
<body>
    <div class="content-container">
        <h3>Password Reset</h3>
        <div class="info-text">Mail will be sent to your email with instructions to reset your password.</div>
        <form method="POST">
            {% csrf_token %}
            <label for="{{ password_reset_form.email.id_for_label }}">Enter Your {{ password_reset_form.email.label }}*</label>
            {{ password_reset_form.email }}
            <button class="form-btn" type="submit">click to send</button>
        </form>
    </div>
</body>
</html>
