{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset.css' %}" />
    <title>Complete Password Reset </title>
</head>
<body>
    <div class="content-container">
        <h3>Password Reset Successful</h3>
        <p>Your new password has been updated successfully.</p>
        <br>
        <button class="form-btn" id="loginButton">Go to Login</button>
    </div>
    <script>
        document.getElementById('loginButton').addEventListener('click', function() {
            window.location.href = "{% url 'account_app:login' %}";
        });
        
    </script>
</body>
</html>
